# --- GIT CONFIGURATION (For Config Server) ---
# The URI to your configuration repository
GIT_URI=https://github.com/macwlu97/coupon-redemption-config.git

# If using HTTPS instead of SSH, fill these. 
# If using SSH (git@github...), you might need to mount your keys (see note below).
GIT_USERNAME=your_github_username
GIT_PASSWORD=your_github_token_or_password

# --- DATABASE CONFIGURATION ---
# Default credentials used across the microservices
DB_USER=maciejwnuklipinski
DB_PASS=pswd

# --- INFRASTRUCTURE URLS ---
EUREKA_SERVER_URL=http://eureka-server:8761/eureka/
CONFIG_SERVER_URL=http://config-server:8888

# --- SERVICE LOGS (Optional) ---
LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_APP=DEBUG